.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  overflow: hidden;
}

.buttonHome {
  height: 50px;
  width: 200px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid black;
}

.handler {
  cursor: pointer;
  text-transform: uppercase;
}
.mainLight {
  height: 250px;
  width: 250px;

  border-radius: 50%;
}
.buttonLight {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.buttonBar {
  margin-left: 80px;
  margin-right: 80px;
}

.buttonBar .red {
  background-color: red;
  cursor: pointer;
}
.buttonBar .red:hover {
  background-color: lightcoral;
}

.buttonBar .blue {
  background-color: blue;
  cursor: pointer;
}
.buttonBar .blue:hover {
  background-color: lightblue;
}

.buttonBar .yellow {
  background-color: yellow;
  cursor: pointer;
}
.buttonBar .yellow:hover {
  background-color: rgb(230, 230, 103);
}

.buttonBar .green {
  background-color: green;
  cursor: pointer;
}
.buttonBar .green:hover {
  background-color: lightgreen;
}
.gray {
  background-color: gray;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}

.h1 {
  font-size: 70px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .buttonLight {
    height: 45px;
    width: 45px;
  }
  .h1 {
    font-size: 55px;
  }
  .buttonBar {
    margin-top: 100px !important;
  }
  .mainLight {
    height: 200px;
    width: 200px;
  }
  .buttonBar {
    margin-left: 10px;
    margin-right: 10px;
  }
}

input {
  text-transform: uppercase;
}
